{% extends "layout.html" %}

{% block heading %}
	Second Page
{% endblock %}

{% block body %}
	<p>Module: IPS1501
	Specific Requirements: Qualified professional teacher
	Introduction to personal and social wellbeing (school subject)
	B.Ed. Hons degree / Hons Education Psychology
	Hons Psychology
	B.Ed. Hons / Hons Learner Support
	B.Ed. Hons / Hons School Guidance and Counselling
	B.Ed. Hons / Hons Psycho-Educational Support
	
	Module: CAD1501
	Child and Adolescent Development
	Specific Requirements: Qualified professional teacher
	B.Ed. Hons degree / Hons Education Psychology
	Hons Psychology
	B.Ed. Hons / Hons Learner Support
	B.Ed. Hons / Hons School Guidance and Counselling
	B.Ed. Hons / Hons Psycho-Educational SupportModule: CSP2601
	subject)
	Care and support for personal and social wellbeing (school
	Specific Requirements: Qualified professional teacher
	B.Ed. Hons degree / Hons Education Psychology
	Hons Psychology
	B.Ed. Hons / Hons Learner Support
	B.Ed. Hons / Hons School Guidance and Counselling
	B.Ed. Hons / Hons Psycho-Educational Support
	
	Module: TMN3703
	Teaching life skills
	Specific Requirements: Qualified professional teacher
	B.Ed. Hons degree / Hons Education Psychology
	Hons Psychology
	B.Ed. Hons / Hons Learner Support
	B.Ed. Hons / Hons School Guidance and Counselling
	B.Ed. Hons / Hons Psycho-Educational Support
	
	Module: TMN3722
	Teaching life orientation in SP
	Specific Requirements: Qualified professional teacher
	B.Ed. Hons degree / Hons Education Psychology
	Hons Psychology
	B.Ed. Hons / Hons Learner Support
	B.Ed. Hons / Hons School Guidance and Counselling
	B.Ed. Hons / Hons Psycho-Educational Support
	
	Module: PED3701
	Psychology of Education
	Specific Requirements: Qualified professional teacher
	B.Ed. Hons degree / Hons Education Psychology
	Hons Psychology
	B.Ed. Hons / Hons Learner Support
	B.Ed. Hons / Hons School Guidance and Counselling
	B.Ed. Hons / Hons Psycho-Educational SupportModule: SDSGC0D
	FET Phase Life Orientation Didactic
	Specific Requirements: Qualified professional teacher
	B.Ed. Hons degree / Hons Education Psychology
	Hons Psychology
	B.Ed. Hons / Hons Learner Support
	B.Ed. Hons / Hons School Guidance and Counselling
	B.Ed. Hons / Hons Psycho-Educational Support
	</p>
	<a href="{{ url_for('index') }}">Go back</a>
{% endblock %}