{% block sidebar %}



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">About Us</h5>
            <div class="card-body">
                <p class="card-text"> To contact and read more informative posts, follow me on social media pages,
                    <!--<a href="https://github.com/goitsemo/portfolio/bloghl">GitHub</a>, --> 
                    <a href="https://facebook.com/goitsemorena">Facebook</a>, 
                    <a href="https://twitter.com/goitsemo">twitter</a>. 
                    <a href="https://medium.com/goitsemo">medium</a>
                </p>
                <p>You can also <a href="mailto://goitsemo@gmail.com/">mail me</a> directly
                <!--<a href="#" class="btn btn-danger">Know more</a> -->
            </div>
        </div>
    </div>

{% endblock sidebar %}
